.content-wrap {
  min-height: 700px;
}

.frame-sm {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.content-wrap.frame-sm .page-title-area:first-child {
  padding-top: 70px;
}

.page-title-area {
  position: relative;
}

.title-page {
  font-size: 25px;
  font-weight: 700;
}

.page-title-area ~ .cart-list-area {
  margin-top: 15px;
}

.cart-list-area {
  border-top: 1px solid #666;
}

.cart-list-area .no-data {
  border-bottom: 1px solid #ccc;
  padding: 180px 0 200px 0;
}

.no-data {
  text-align: center;
  width: 100%;
}

.no-data:before {
  display: block;
  content: "";
  margin: 0 auto 10px;
  width: 80px;
  height: 80px;
  /* background: url(/resources/pc/images/icon/ico_img.png) -280px -120px; */
}

[class*="btn-basic-"],
[class*="btn-option"] {
  border-radius: 6px;
}

[class*="btn-basic-"],
[class*="btn-option"],
[class*="btn-rud-"] {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  vertical-align: top;
}

.no-data .message + [class^="btn-basic"] {
  margin-top: 40px;
}

.btn-basic-lg {
  min-width: 215px;
  height: 56px;
  padding: 10px 25px 11px;
}

.btn-default-ex {
  background: #fff;
  color: #333;
  border: 1px solid #666;
}

.cart-list-area .no-data .message {
  color: #000;
  font-size: 20px;
}

.btn-basic-lg > span {
  font-size: 18px;
  line-height: 1.8;
}

.cart-list-area:not(.order-complete) ~ .btn-bottom-area,
.cart-list-area:not(.order-complete) ~ .cart-total-box {
  margin-top: 50px;
}

.btn-bottom-area {
  position: relative;
  text-align: center;
}

