<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로틴플러스(ProteinPlus)</title>
    <link rel="stylesheet" href="../static/css/frame.css">
</head>

<body>
<div class="wrap main">

    <!-- ========== 공통 헤더 :: header ========== -->
    <header id="header" class="header">
        <div class="header-inner">
            <h1 class="logo "><a href="/"><span class="blind">ProteinPlus</span></a></h1>

            <div class="util">
                <ul>
                    <li><a href="/auth/login">로그인</a></li>
                    <li><a href="/member/join/general">회원가입</a></li>
                    <li><a href="/mypage/orderlist">주문조회</a></li>
                    <li><a href="/service/center">고객센터</a></li>
                </ul>
            </div><!--// util -->

            <div class="header-search">
                <div class="top-search">
                    <input type="search" class="input-search" value="" maxlength="100">

                    <button type="button" class="btn-top-search" id="btnTopSearch" name="btnTopSearch"
                            data-search-type="real" onclick="fnBtnTopSearch(this);">
                        <span class="blind">검색</span>
                    </button>
                </div>

                <!-- <div class="search-layer">
                    <div class="autoResultBox"></div>
                    <div class="tit-area">
                        <h2>인기 검색어</h2>
                    </div>
                    <div class="search-rank">
                        <ol class="list">
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">1</em><span class="word">잇메이트 닭가슴살</span>
                                    <span class="state">-</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">2</em><span class="word">맛있닭</span>
                                    <span class="state text-primary"><i class="ico-arrfill-up"><span
                                                class="blind">UP</span></i>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">3</em><span class="word">닭다리살</span>
                                    <span class="state text-blue"><i class="ico-arrfill-down"><span
                                                class="blind">DOWN</span></i>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">4</em><span class="word">스팀 닭가슴살</span>
                                    <span class="state">-</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">5</em><span class="word">볶음밥</span>
                                    <span class="state">-</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">6</em><span class="word">생닭가슴살</span>
                                    <span class="state text-green">NEW</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">7</em><span class="word">샐러드</span>
                                    <span class="state text-primary"><i class="ico-arrfill-up"><span
                                                class="blind">UP</span></i>3</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">8</em><span class="word">꼬기다 특가</span>
                                    <span class="state text-primary"><i class="ico-arrfill-up"><span
                                                class="blind">UP</span></i>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">9</em><span class="word">도시락</span>
                                    <span class="state text-primary"><i class="ico-arrfill-up"><span
                                                class="blind">UP</span></i>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-search-type="popular" onclick="fnBtnTopSearch(this);">
                                    <em class="num">10</em><span class="word">소고기</span>
                                    <span class="state text-green">NEW</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>// header-search -->

            <div class="my-menu">
                <ul>
                    <li><a href="" class="btn-util-pedometer" title=""><span class="blind">만보기</span></a></li>
                    <li><a href="" class="btn-util-coupon" title=""><span class="blind">쿠폰</span></a></li>
                    <li><a href="" class="btn-util-mypage" title=""><span class="blind">마이페이지</span></a>
                    </li>
                    <li>
                        <a href="" class="btn-util-cart" title="">
                            <span class="blind">장바구니</span>
                            <em class="count">0</em>
                        </a>
                    </li>
                </ul>
            </div><!--// my-menu -->
        </div>
        <!--// header-inner -->

        <div class="gnb-wrap">
            <div class="inner">
                <div class="category-wrap">
                    <a href="#all-category" class="btn-menu-all"><span>카테고리</span></a>
                </div>
                <nav id="gnb" class="gnb">
                    <ul>
                        <li class="">
                            <a href="">
                                <span>랭킹</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>이달의 특가</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>브랜드관</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>1팩 담기</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>혜택정리</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>이벤트</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>..</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!--//  gnb-wrap -->
        <!-- <div class="all-depth-cate">
            <div class="cate-wrap depth1">
                <nav id="all-category" class="category-menu">
                    <div class="frame-sm">
                        <div class="swiper-button-prev"><i class="ico-arr-left"></i></div>
                        <div class="swiper-con">
                            <ul class="cate-dep1 swiper-wrapper">
                                <li class="swiper-slide">

                                    <a href="/promotion/exhibit/hiddenList?exhibitionCd=EX202204150000000014"
                                        data-cd1="R254">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681JRj889432369.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681vTX889434740.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">신상품</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R019" data-cd1="R019">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681McH889452417.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681BrA889455241.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">닭가슴살</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R021" data-cd1="R021">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681vIq889467416.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681YfV889470176.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">도시락·볶음밥</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R024" data-cd1="R024">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681HWu889524917.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681ids889528045.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">음료·차·프로틴</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R020" data-cd1="R020">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681FEM889459714.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681XUc889462220.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">즉석 간편식</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R040" data-cd1="R040">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681qfN889474262.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681BnV889477044.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">소고기</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R026" data-cd1="R026">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681AoL889573370.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681Axg889577037.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">견과·고구마·감자</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R023" data-cd1="R023">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681aSD889498981.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681NCw889501665.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">샐러드·과일</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R025" data-cd1="R025">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681MJm889542106.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681hzb889544938.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">계란·난백·콩</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R038" data-cd1="R038">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681Jqv889490229.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681otu889494215.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">닭안심살</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R022" data-cd1="R022">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681feh889515583.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681pXp889519792.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">과자·간식·떡</span>
                                    </a>
                                </li>

                                <li class="swiper-slide">

                                    <a href="/product/list?depth1=R029" data-cd1="R029">
                                        <i class="ico-cate-gnb">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_1/20230419/IMG1681edU889550509.png"
                                                class="active" alt="">
                                            <img src="https://file.rankingdak.com/image/RANK/BANNER/CATE_PC1_2/20230419/IMG1681UDu889554452.png"
                                                class="notActive" alt="">
                                        </i>
                                        <span class="menu ">수산·해산</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-button-next"><i class="ico-arr-right"></i></div>
                    </div>
                </nav>
            </div>-->
        </div>
    </header>
    <!--// ========== 공통 헤더 :: header ========== -->


    <!-- ========== 컨텐츠 영역 :: container ========== -->
    <section id="contents" class="container">

        <!-- 여기서부터 작업 -->


    </section>
    <!--// ========== 컨텐츠 영역 :: container ========== -->


    <!-- ========== 공통 푸터 :: footer :: include.footer() 영역  ========== -->
    <footer id="footer" class="footer">
        <div class="footer-menu">
            <div class="frame-sm">
                <ul class="footer-menu-list">
                    <li><a>회사소개</a></li>
                    <li><a>공지사항</a></li>
                    <li><a>입점 · 제휴 · 광고문의</a></li>
                    <li><a>이용약관</a></li>
                    <li><a class="text-black2 text-md">개인정보처리방침</a></li>
                </ul><!--// footer-menu-list -->
            </div><!--// footer-info-list -->
        </div><!--// frame-sm -->
        <div class="footer-info">
            <strong class="footer-logo"><span class="blind">ProteinPlus</span></strong>
            <div class="colum-info">
                <h5 class="blind">회사 정보</h5>
                <ul class="footer-biz-info">
                    <li><span class="company-name">(주)푸드나무</span></li>
                    <li>대표 : 김영문</li>
                    <li>주소 : 서울특별시 마포구 월드컵북로 396, 15층(상암동, 누리꿈스퀘어 비지니스타워)</li>
                    <li>사업자등록번호 : 105-87-81968
                        사업자정보 확인
                    </li>
                    <li>통신판매업신고번호 : 제2015-서울마포-1058호</li>
                    <li>개인정보보호책임자 : 이재길</li>
                </ul>
                <p class="copyright">Copyright©ProteinPlus All rights reserved.</p>
            </div><!--// colum -->
            <div class="colum-info">
                <ul class="customer-info">
                    <li class="cscenter">고객센터 <em class="footer-tel">02-6405-8088</em></li>
                    <li>FAX. 02-6351-8088</li>
                    <li>E-mail. admin@foodnamoo.com</li>
                </ul>
                <div class="customer-btns">
                    <a href="#"><span>고객의 제안</span></a>
                    <a href="#"><span>1:1 문의</span></a>
                </div>
                <ul class="footer-sns-list">
                    <li><a target="_blank"><i class="ico-sns-facebook"></i><span class="sns_blind">페이스북</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-instagram"></i><span class="sns_blind">인스타그램</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-blog"></i><span class="sns_blind">네이버블로그</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-post"></i><span class="sns_blind">네이버포스트</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-kakaotalk"></i><span class="sns_blind">카카오톡</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-youtube"></i><span class="sns_blind">유튜브</span></a>
                    </li>
                </ul>
            </div><!--// colum -->
        </div><!--// footer-info -->
    </footer>
</div>
</body>

</html>