<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로틴플러스(ProteinPlus)</title>
    <link rel="stylesheet" href="/css/frame.css">
</head>

<body>
<div class="wrap main">

    <!-- ========== 공통 헤더 :: header ========== -->
    <header id="header" class="header">
        <div class="header-inner">
            <h1 class="logo "><a href="/"><span class="blind">ProteinPlus</span></a></h1>

            <div class="util">
                <ul>
                    <li><a href="/auth/login">로그인</a></li>
                    <li><a href="/member/join/general">회원가입</a></li>
                    <li><a href="/mypage/orderlist">주문조회</a></li>
                    <li><a href="/service/center">고객센터</a></li>
                </ul>
            </div><!--// util -->

            <div class="header-search">
                <div class="top-search">
                    <input type="search" class="input-search" value="" maxlength="100">

                    <button type="button" class="btn-top-search" id="btnTopSearch" name="btnTopSearch"
                            data-search-type="real" onclick="fnBtnTopSearch(this);">
                        <span class="blind">검색</span>
                    </button>
                </div>
            </div>

            <div class="my-menu">
                <ul>
                    <li><a href="" class="btn-util-pedometer" title=""><span class="blind">만보기</span></a></li>
                    <li><a href="" class="btn-util-coupon" title=""><span class="blind">쿠폰</span></a></li>
                    <li><a href="" class="btn-util-mypage" title=""><span class="blind">마이페이지</span></a>
                    </li>
                    <li>
                        <a href="" class="btn-util-cart" title="">
                            <span class="blind">장바구니</span>
                            <em class="count">0</em>
                        </a>
                    </li>
                </ul>
            </div><!--// my-menu -->
        </div>
        <!--// header-inner -->

        <div class="gnb-wrap">
            <div class="inner">
                <div class="category-wrap">
                    <a href="#all-category" class="btn-menu-all"><span>카테고리</span></a>
                </div>
                <nav id="gnb" class="gnb">
                    <ul>
                        <li class="">
                            <a href="">
                                <span>랭킹</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>이달의 특가</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>브랜드관</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>1팩 담기</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>혜택정리</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>이벤트</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>..</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!--//  gnb-wrap -->
    </header>
    <!--// ========== 공통 헤더 :: header ========== -->


    <!-- ========== 컨텐츠 영역 :: container ========== -->
    <section id="contents" class="container">

        <!-- 여기서부터 작업 -->


    </section>
    <!--// ========== 컨텐츠 영역 :: container ========== -->


    <!-- ========== 공통 푸터 :: footer :: include.footer() 영역  ========== -->
    <footer id="footer" class="footer">
        <div class="footer-menu">
            <div class="frame-sm">
                <ul class="footer-menu-list">
                    <li><a>회사소개</a></li>
                    <li><a>공지사항</a></li>
                    <li><a>입점 · 제휴 · 광고문의</a></li>
                    <li><a>이용약관</a></li>
                    <li><a class="text-black2 text-md">개인정보처리방침</a></li>
                </ul><!--// footer-menu-list -->
            </div><!--// footer-info-list -->
        </div><!--// frame-sm -->
        <div class="footer-info">
            <strong class="footer-logo"><span class="blind">ProteinPlus</span></strong>
            <div class="colum-info">
                <h5 class="blind">회사 정보</h5>
                <ul class="footer-biz-info">
                    <li><span class="company-name">(주)푸드나무</span></li>
                    <li>대표 : 김영문</li>
                    <li>주소 : 서울특별시 마포구 월드컵북로 396, 15층(상암동, 누리꿈스퀘어 비지니스타워)</li>
                    <li>사업자등록번호 : 105-87-81968
                        사업자정보 확인
                    </li>
                    <li>통신판매업신고번호 : 제2015-서울마포-1058호</li>
                    <li>개인정보보호책임자 : 이재길</li>
                </ul>
                <p class="copyright">Copyright©ProteinPlus All rights reserved.</p>
            </div><!--// colum -->
            <div class="colum-info">
                <ul class="customer-info">
                    <li class="cscenter">고객센터 <em class="footer-tel">02-6405-8088</em></li>
                    <li>FAX. 02-6351-8088</li>
                    <li>E-mail. admin@foodnamoo.com</li>
                </ul>
                <div class="customer-btns">
                    <a href="#"><span>고객의 제안</span></a>
                    <a href="#"><span>1:1 문의</span></a>
                </div>
                <ul class="footer-sns-list">
                    <li><a target="_blank"><i class="ico-sns-facebook"></i><span class="sns_blind">페이스북</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-instagram"></i><span class="sns_blind">인스타그램</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-blog"></i><span class="sns_blind">네이버블로그</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-post"></i><span class="sns_blind">네이버포스트</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-kakaotalk"></i><span class="sns_blind">카카오톡</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-youtube"></i><span class="sns_blind">유튜브</span></a>
                    </li>
                </ul>
            </div><!--// colum -->
        </div><!--// footer-info -->
    </footer>
</div>
</body>

</html>