.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px;
  color: #378CE7;
}

.pagination-container button.active,
.pagination-container button:hover {
  color: #67C6E3;
}

.page-number{
    margin: 3px;
    cursor: pointer;
    font-size: 16px;
}

.page-number.active {
  color: #378CE7;
  font-size: 18px;
  font-weight: bold;
}