.upload-product-container{
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-btn{
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    border: 1px solid #333; /* 테두리 스타일 및 색상 설정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 만듦 */
    background-color: transparent; /* 배경색을 투명하게 설정 */
    color: #333; /* 글자 색상 설정 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 변화에 대한 애니메이션 설정 */
}

.upload-btn:hover{
  background-color: #378CE7; /* 클릭 시 배경색 변경 */
  color: #fff; /* 클릭 시 글자색 변경 */
}

img{
    width: 400px;
    margin: 10px;
}