.content-wrap {
    min-height: 700px;
}

.ranking-content .page-head {
    max-width: 1100px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.page-head {
    position: relative;
    padding-top: 70px;
    background: #fff;
}

.ranking-content .page-head .title-area {
    display: inline-block;
    width: auto;
}

.page-head .title-area {
    position: relative;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    z-index: 11;
}

.page-head .title-area .tit {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
}

.ranking-content .page-head .tit {
    text-align: left;
}

.side-tab-menu {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.side-tab-menu li {
    display: inline-block;
    padding: 0 10px;
}

.side-tab-menu li a {
    display: block;
    padding: 0 8px;
    color: #999;
    font-size: 17px;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.rank-category-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.category-list {
    display: flex;
    width: 16.66667%;
    height: 45px;
    text-align: center;
    border: 1px solid #cccccc;

    font-weight: 400;
    box-sizing: border-box;
    margin-right: -1px; /* 오른쪽 마진 추가 */
    margin-top: 1px;
    margin-bottom: -2px; /* 아래쪽 마진 추가 */

    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.category-list.active {
    color: #5356FF;
    border-color: #5356FF;
    z-index: 10;
}

.sorting-tab-menu {
    text-align: center;
    margin-top: 60px;
    position: relative;
}

.text-left {
    text-align: left !important;
}

.sorting-tab-menu ul {
    display: inline-block;
    font-size: 0;
    position: absolute;
    right: 0;
    bottom: -7px;
}

.sorting-tab-menu li {
    display: inline-block;
    position: relative;
    margin-left: 6px;
}

.sorting-tab-menu li.active a {
    color: #5356FF;
    background: #ffffff;
    border: 1px solid #5356FF;
    font-weight: bold;
}

.sorting-tab-menu li a {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 11px 18px;
    background-color: #DFF5FF;
    border-radius: 100px;
    color: #666666;
}

.ranking-content .sorting-tab-menu ~ .rank-list-wrap {
    margin-top: 30px;
}

.sorting-tab-menu ~ .rank-list-wrap {
    margin-top: 30px;
}

.ranking-list .rank-item {
    position: relative;
    padding: 0 0 0 70px;
    border-bottom: 1px solid #e6e6e6;
}

.ranking-list .list-renewal-2.rank-item:nth-child(-n+3) [class*="number-rd-"] {
    border-bottom: 0;
    font-weight: 700;
}

.ranking-list .list-renewal-2.rank-item [class*="number-rd-"] {
    padding: 0 0 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ranking-list .rank-item:nth-child(-n+3) [class*="number-rd-"] {
    border-bottom: 2px solid #333;
}

.ranking-list .rank-item [class*="number-rd-"] {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 22px;
    min-width: 20px;
    text-align: center;
    line-height: 1;
    padding-bottom: 9px;
    transform: translateY(-50%);
}

.number-rd-empty {
    background-color: transparent;
    color: #333;
}

.ranking-list .rank-item .prd-info-area {
    padding: 20px 0;
}

.prd-info-area {
    position: relative;
}

.prd-info-area .inner {
    display: table;
    table-layout: auto;
    width: 100%;
}

.prd-info-area .column.img.w110 {
    width: 110px;
    height: 110px;
}

.prd-info-area .column.w110 {
    width: 110px;
    vertical-align: middle;
}

.prd-info-area .column.img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.ranking-content .inner * {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif !important;
}

.prd-info-area .column {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

.w110 {
    width: 110px;
}

.ranking-list .prd-info-area .column.img a {
    display: block;
    border-radius: 4px;
    overflow: hidden;
}

.prd-info-area .column.img.w110 img {
    width: 110px;
    height: 110px;
}

.prd-info-area .column.img img {
    width: 80px;
    height: 80px;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.ranking-list .list-renewal-2 .column.tit {
    max-width: 390px;
}

.list-renewal-2 .prd-info-area .column.tit {
    vertical-align: middle;
    padding: 0 16px;
    max-width: 0;
}

.prd-info-area .column.tit {
    padding: 0 10px 0 15px;
    text-align: left;
}

.ranking-list .tit {
    height: 45px;
}

.ranking-list .prd-brand {
    display: none;
    font-size: 13px;
    line-height: 19px;
    color: #333;
}

.list-renewal-2 .prd-info-area .column.tit .tit {
    margin: 0 0 0;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.032px;
    font-weight: 400;
}

.text-elps2 {
    display: block;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.tit-sub {
    margin-top: 4px;
    color: #666;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.text-elps {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
}

.ranking-list .list-renewal-2 .text-guide-sm {
    padding: 0 0 0;
    margin: 0 0 10px;
}

.ranking-list .text-guide-sm {
    font-size: 12px;
    color: #7389AA;
    padding: 0 0 10px;
}

.text-guide-sm {
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

/*
.list-renewal-2 .flex-box {
    margin-top: 10px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
    flex-wrap: wrap;
}

.list-renewal-2 .imgbadge-dlv-exp {
    display: inline-block;
    width: 68px;
    height: 20px;
    background: url(/resources/pc/images/txt/imgbadge-dlv-exp.svg) no-repeat center / 100%;
    vertical-align: middle;
}
 */

.list-renewal-2 .prd-info-area .column.point2 {
    color: #666;
}

.prd-info-area .column.point2 {
    width: 100px;
    vertical-align: middle;
    text-align: left;
    word-break: keep-all;
    font-size: 12px;
}

.prd-info-area .column.dlv2 {
    width: 120px;
    vertical-align: middle;
    text-align: left;
}

.list-renewal-2 .rating-simply {
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating-simply {
    font-size: 0;
    position: relative;
}

.list-renewal-2 .rating-simply:before {
    background: url(../../images/rank/ico-rating-simply-pc.svg) no-repeat center / 100%;
    margin: 0 0 0;
}

.ranking-list .rating-simply:before {
    width: 14px;
    height: 14px;
}

.rating-simply:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    /*background: url(/resources/pc/images/icon/ico_bullet.png) no-repeat -90px -160px;  /*별 이미지*/
    position: relative;
    margin: 1px 2px 0 0;
    vertical-align: top;
}

.list-renewal-2 .rating-simply * {
    padding: 0 0 0;
    margin: 0 0 0;
    color: #666;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.rating-simply .score {
    font-size: 13px;
    font-weight: 500;
    color: #666;
    line-height: 15px;
}

.rating-simply .total-num {
    font-size: 13px;
    color: #999;
    padding-left: 2px;
    line-height: 12px;
}

.list-renewal-2 .prd-info-area .column.price {
    width: 160px;
}

.prd-info-area .column.price {
    width: 130px;
    vertical-align: middle;
    text-align: right;
    word-break: keep-all;
}

.text-left {
    text-align: left !important;
}

/*.list-renewal-2 .prd-info-area .origin {*/
/*    color: #999;*/
/*    font-size: 13px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 18px;*/
/*    text-decoration: line-through;*/
/*}*/

.list-renewal-2 .prd-info-area .price-flex {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.list-renewal-2 .prd-info-area .price-flex .sale {
    color: #5356FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.list-renewal-2 .prd-info-area .price-flex .sale strong {
    color: #5356FF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.list-renewal-2 .prd-info-area .price-flex .price {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.list-renewal-2 .prd-info-area .price-flex .price .num {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.prd-info-area .column.price .num {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}

.list-renewal-2 .prd-info-area .column.btn2 {
    border-left: 0;
    width: 150px;
}

.ranking-list .prd-info-area .column.btn2 {
    width: 120px;
    border-left: 0;
}

.prd-info-area .column.btn2 {
    width: 170px;
    vertical-align: middle;
    border-left: 1px solid #eee;
}

.prd-info-area .column .btn-list {
    text-align: center;
    font-size: 0;
}

.prd-info-area .column .btn-list > li {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

/*.list-renewal-2 .btn-icon-cart2 {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background: url(../../images/rank/cart-icon24.svg) no-repeat center / 24px 24px;*/
/*}*/

/*.btn-icon-cart2 {*/
/*    width: 20px;*/
/*    height: 18px;*/
/*    font-size: 0;*/
/*}*/

/*[class*="btn-icon-"] {*/
/*    display: inline-block;*/
/*}*/

/*button, [type="button"], [type="reset"], [type="submit"] {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    cursor: pointer;*/
/*    !* border: 0; *!*/
/*    padding: 0;*/
/*    background-image: none;*/
/*}*/

/*button .blind {*/
/*    position: relative;*/
/*    font-size: 0;*/
/*    color: transparent;*/
/*}*/

button span {
    position: relative;
}

/*.list-renewal-2 .prd-info-area .column .btn-list .btn-icon-cart-li:after {*/
/*    margin: 3px 15px 0 10px;*/
/*    vertical-align: middle;*/
/*}*/

/*.prd-info-area .column .btn-list .btn-icon-cart-li:after {*/
/*    display: inline-block;*/
/*    content: '';*/
/*    width: 1px;*/
/*    height: 11px;*/
/*    background: #E6E6E6;*/
/*    margin: 3px 15px 0;*/
/*    vertical-align: top;*/
/*}*/

/*.custom-checkbox {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/

/*.custom-checkbox input[type="checkbox"] {*/
/*    position: absolute;*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    padding: 0;*/
/*    margin: -1px;*/
/*    overflow: hidden;*/
/*    clip: rect(0, 0, 0, 0);*/
/*    border: 0;*/
/*    vertical-align: top;*/
/*}*/

/*input[type="checkbox"], input[type="radio"] {*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*}*/

/*.custom-checkbox input[type="checkbox"] + label {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    vertical-align: top;*/
/*}*/

/*.custom-checkbox .checkbox-wish + label {*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    line-height: 1;*/
/*}*/

/*.custom-checkbox .checkbox-wish + label {*/
/*    width: 20px;*/
/*    height: 17px;*/
/*    line-height: 1;*/
/*}*/

/*.custom-checkbox .checkbox-wish + label:before {*/
/*    display: block;*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    background: url(../../images/rank/heart-icon.png) -24px -40px;*/
/*    background-size: 240px;*/
/*}*/

