<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>프로틴플러스(ProteinPlus)</title>
  <link rel="stylesheet" href="../../../static/css/common/frame.css">
  <link rel="stylesheet" href="../../../static/css/rank/realtime/rank.css">
  <link rel="stylesheet" href="../../../static/css/rank/realtime/realtime.css">
  <link rel="stylesheet" href="../../../static/css/rank/realtime/r0101.css">
</head>

<body>
<div class="wrap main">

  <!-- ========== 공통 헤더 :: header ========== -->
  <header id="header" class="header">
    <div class="header-inner">
      <h1 class="logo "><a href="/static"><span class="blind">ProteinPlus</span></a></h1>

      <div class="util">
        <ul>
          <li><a href="/auth/login">로그인</a></li>
          <li><a href="/member/join/general">회원가입</a></li>
          <li><a href="/mypage/orderlist">주문조회</a></li>
          <li><a href="/service/center">고객센터</a></li>
        </ul>
      </div><!--// util -->

      <div class="header-search">
        <div class="top-search">
          <input type="search" class="input-search" value="" maxlength="100">

          <button type="button" class="btn-top-search" id="btnTopSearch" name="btnTopSearch"
                  data-search-type="real" onclick="fnBtnTopSearch(this);">
            <span class="blind">검색</span>
          </button>
        </div>
      </div>

      <div class="my-menu">
        <ul>
          <li><a href="" class="btn-util-pedometer" title=""><span class="blind">만보기</span></a></li>
          <li><a href="" class="btn-util-coupon" title=""><span class="blind">쿠폰</span></a></li>
          <li><a href="" class="btn-util-mypage" title=""><span class="blind">마이페이지</span></a>
          </li>
          <li>
            <a href="" class="btn-util-cart" title="">
              <span class="blind">장바구니</span>
              <em class="count">0</em>
            </a>
          </li>
        </ul>
      </div><!--// my-menu -->
    </div>
    <!--// header-inner -->

    <div class="gnb-wrap">
      <div class="inner">
        <div class="category-wrap">
          <a href="#all-category" class="btn-menu-all"><span>카테고리</span></a>

          <!--부모 카테고리-->
<!--          <div class="category-layer">-->
<!--            <ul class="menu category-list">-->
<!--              <li class="new-product">  &lt;!&ndash;신상품&ndash;&gt;-->
<!--                <a href="javascript:;" style="cursor: default;">신상품</a>-->
<!--                &lt;!&ndash; 자식 카테고리 &ndash;&gt;-->
<!--                <div class="depth">-->
<!--                  <div class="depth-list banner third">-->
<!--                    <ul>-->
<!--                      <li class="second-depth-list">-->
<!--                        <a href="세부 카테고리 페이지 링크">전체</a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
        <nav id="gnb" class="gnb">
          <ul>
            <li class="">
              <a href="">
                <span>랭킹</span>
              </a>
            </li>
            <li class="">
              <a href="">
                <span>이달의 특가</span>
              </a>
            </li>
            <li class="">
              <a href="">
                <span>브랜드관</span>
              </a>
            </li>
            <li class="">
              <a href="">
                <span>1팩 담기</span>
              </a>
            </li>
            <li class="">
              <a href="">
                <span>혜택정리</span>
              </a>
            </li>
            <li class="">
              <a href="">
                <span>이벤트</span>
              </a>
            </li>
            <li class="">
              <a href="">
                <span>..</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div><!--//  gnb-wrap -->
  </header>
  <!--// ========== 공통 헤더 :: header ========== -->


  <!-- ========== 컨텐츠 영역 :: container ========== -->
  <section id="contents" class="container">
















  <div class="content-wrap ranking-content">

    <div class="page-head">
      <div class="title-area">
        <h2 class="tit">랭킹</h2>
      </div>

      <ul class="side-tab-menu">
        <li class="realtime">
          <a href="rank.html" class="tit_rank">실시간랭킹</a>
        </li>
        <li class="ingredient">
          <a href="../ingredient/ingredient.html" class="tit_rank">성분별랭킹</a>
        </li>
      </ul>
    </div>

    <div class="frame-sm">
      <div class="realtime-rank-category-tb-wrap">
        <table class="realtime-rank-category-table">
          <tr>
            <th class="r0101"><a href="rank.html">전체</a></th>
            <th class="r0102"><a href="r0102.html">신상품</a></th>
            <th class="r0103"><a href="r0103.html">닭가슴살</a></th>
            <th class="r0104"><a href="r0104.html">도시락/볶음밥</a></th>
            <th class="r0105"><a href="r0105.html">음료/차/프로틴</a></th>
            <th class="r0106"><a href="r0106.html">즉석 간편식</a></th>
          </tr>
          <tr>
            <td class="r0107"><a href="r0107.html">소고기</a></td>
            <td class="r0108"><a href="r0108.html">견과/고구마/감자</a></td>
            <td class="r0109"><a href="r0109.html">샐러드/과일</a></td>
            <td class="r0110"><a href="r0110.html">계란/난백/콩</a></td>
            <td class="r0111"><a href="r0111.html">과자/간식/떡</a></td>
            <td class="r0112"><a href="r0112.html">수산/해산</a></td>
          </tr>
          <tr>
            <td class="r0113"><a href="r0113.html">베이커리/치즈</a></td>
            <td class="r0114"><a href="r0114.html">소스/오일</a></td>
            <td class="r0115"><a href="r0115.html">반찬/밀키트/안주</a></td>
            <td class="r0116"><a href="r0116.html">건강식품</a></td>
            <td class></td>
            <td class></td>
          </tr>
        </table>
      </div>

      <div class="sorting-tab-menu">
        <h2 class="text-left">오늘의 전체 랭킹 순위!</h2>
        <ul>
          <li class="realtime-tab-menu">
            <a href="rank.html" class="tit_type" data-type="REALTIME">실시간</a>
          </li>
          <li class="sale-tab-menu">
            <a href="sale.html" class="tit_type" data-type="SALE">판매량</a>
          </li>
        </ul>
      </div>

      <!--랭킹 리스트 -->


      <div class="rank-list-wrap" id="div-rankList">
        <ol class="ranking-list">

          <!-- 1위 -->
          <li class="list-renewal-2 rank-item" data-list="1">
            <span class="number-rd-empty">1</span>
            <div class="prd-info-area">
              <div class="inner">
                <div class="column img w110">
                  <a href="상품상세페이지링크">
                    <img class="lozad" data-src="이미지 링크" alt="이미지 정보" src="이미지 링크" loaded="true">
                  </a>
                </div>
                <div class="column tit">
                  <span class="prd-brand">브랜드명</span>
                  <p class="tit">
                    <a href="상품상세페이지링크" class="text-elps2">[브랜드명] 상품이름</a>
                  </p>
                  <p class="tit-sub text-elps">상품 요약? 또는 추가 상품</p>
                  <p class="text-guide-sm"></p>
<!--                  <div class="flex-box">-->
<!--                    <em class="imgbadge-div-exp">-->
<!--                      <span class="blind">특급배송</span>-->
<!--                    </em>-->
<!--                  </div>-->
                </div>
                <div class="column point2">3% 적립</div>
                <div class="column dlv2">
                  <div class="rating-simply">
                    <span class="score">4.9</span>  <!--평점-->
                    <span class="total-num">(82,644)</span> <!-- 평점을 작성한 유저 수 -->
                  </div>
                </div>
                <div class="column price text-left">
                  <p class="origin">
                    <span>24,900</span>  <!--원가-->
                    원
                  </p>
                  <div class="price-flex">
                    <span class="sale">
                      <strong>29</strong>   <!--할인율-->
                      %
                    </span>
                    <span class="price">
                      <em class="num">17,900</em>  <!--할인가-->
                      원
                    </span>
                  </div>
                </div>
                <div class="column btn2">
                  <ul class="btns-list">
                    <li class="btn-icon-cart-li">
                      <button type="button" class="btn-icon-cart2 btn-ext-cart" title>
                        <span class="blind">장바구니</span>
                      </button>
                    </li>
                    <li>
                      <button class="custom-checkbox">
                        <input type="checkbox" id="check-0" name="check-wish-item" class="checkbox-wish btn-ext-wish">
                        <label for="check-0" title>
                          <span class="blind">찜하기</span>
                        </label>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- 2위 -->
          <!-- ** 할인 없는 상품 -->
          <li class="list-renewal-2 rank-item" data-list="2">
            <span class="number-rd-empty">2</span>
            <div class="prd-info-area">
              <div class="inner">
                <div class="column img w110">
                  <a href="상품상세페이지링크">
                    <img class="lozad" data-src="이미지 링크" alt="이미지 정보" src="이미지 링크" loaded="true">
                  </a>
                </div>
                <div class="column tit">
                  <span class="prd-brand">브랜드명</span>
                  <p class="tit">
                    <a href="상품상세페이지링크" class="text-elps2">[브랜드명] 상품이름</a>
                  </p>
                  <p class="tit-sub text-elps">상품 요약? 또는 추가 상품</p>
                  <p class="text-guide-sm"></p>
                  <!--                  <div class="flex-box">-->
                  <!--                    <em class="imgbadge-div-exp">-->
                  <!--                      <span class="blind">특급배송</span>-->
                  <!--                    </em>-->
                  <!--                  </div>-->
                </div>
                <div class="column point2">1% 적립</div>
                <div class="column dlv2">
                  <div class="rating-simply">
                    <span class="score">4.9</span>  <!--평점-->
                    <span class="total-num">(556)</span> <!-- 평점을 작성한 유저 수 -->
                  </div>
                </div>
                <!--
                <div class="column price text-left">
                  <p class="origin">
                    <span>24,900</span>  //원가
                    원
                  </p>
                  <div class="price-flex">
                    <span class="sale">
                      <strong>29</strong>   //할인율
                      %
                    </span>
                    <span class="price">
                      <em class="num">17,900</em>  //할인가
                      원
                    </span>
                  </div>
                  -->
                <div class="column price text-left">
                  <div class="price-flex">
                    <span class="price">
                      <em class="num">18,900</em>  <!-- 가격 -->
                      원
                    </span>
                  </div>
                </div>
                <div class="column btn2">
                  <ul class="btns-list">
                    <li class="btn-icon-cart-li">
                      <button type="button" class="btn-icon-cart2 btn-ext-cart" title>
                        <span class="blind">장바구니</span>
                      </button>
                    </li>
                    <li>
                      <button class="custom-checkbox">
                        <input type="checkbox" id="check-1" name="check-wish-item" class="checkbox-wish btn-ext-wish">
                        <label for="check-1" title>
                          <span class="blind">찜하기</span>
                        </label>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>


        </ol>
      </div>
    </div>
  </div>
























  </section>
  <!--// ========== 컨텐츠 영역 :: container ========== -->


  <!-- ========== 공통 푸터 :: footer :: include.footer() 영역  ========== -->
  <footer id="footer" class="footer">
    <div class="footer-menu">
      <div class="frame-sm">
        <ul class="footer-menu-list">
          <li><a>회사소개</a></li>
          <li><a>공지사항</a></li>
          <li><a>입점 · 제휴 · 광고문의</a></li>
          <li><a>이용약관</a></li>
          <li><a class="text-black2 text-md">개인정보처리방침</a></li>
        </ul><!--// footer-menu-list -->
      </div><!--// footer-info-list -->
    </div><!--// frame-sm -->
    <div class="footer-info">
      <strong class="footer-logo"><span class="blind">ProteinPlus</span></strong>
      <div class="colum-info">
        <h5 class="blind">회사 정보</h5>
        <ul class="footer-biz-info">
          <li><span class="company-name">(주)푸드나무</span></li>
          <li>대표 : 김영문</li>
          <li>주소 : 서울특별시 마포구 월드컵북로 396, 15층(상암동, 누리꿈스퀘어 비지니스타워)</li>
          <li>사업자등록번호 : 105-87-81968
            사업자정보 확인
          </li>
          <li>통신판매업신고번호 : 제2015-서울마포-1058호</li>
          <li>개인정보보호책임자 : 이재길</li>
        </ul>
        <p class="copyright">Copyright©ProteinPlus All rights reserved.</p>
      </div><!--// colum -->
      <div class="colum-info">
        <ul class="customer-info">
          <li class="cscenter">고객센터 <em class="footer-tel">02-6405-8088</em></li>
          <li>FAX. 02-6351-8088</li>
          <li>E-mail. admin@foodnamoo.com</li>
        </ul>
        <div class="customer-btns">
          <a href="#"><span>고객의 제안</span></a>
          <a href="#"><span>1:1 문의</span></a>
        </div>
        <ul class="footer-sns-list">
          <li><a target="_blank"><i class="ico-sns-facebook"></i><span class="sns_blind">페이스북</span></a>
          </li>
          <li><a target="_blank"><i class="ico-sns-instagram"></i><span class="sns_blind">인스타그램</span></a>
          </li>
          <li><a target="_blank"><i class="ico-sns-blog"></i><span class="sns_blind">네이버블로그</span></a>
          </li>
          <li><a target="_blank"><i class="ico-sns-post"></i><span class="sns_blind">네이버포스트</span></a>
          </li>
          <li><a target="_blank"><i class="ico-sns-kakaotalk"></i><span class="sns_blind">카카오톡</span></a>
          </li>
          <li><a target="_blank"><i class="ico-sns-youtube"></i><span class="sns_blind">유튜브</span></a>
          </li>
        </ul>
      </div><!--// colum -->
    </div><!--// footer-info -->
  </footer>
</div>
</body>

</html>