/* TODO: 글꼴 변경 */

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PretendardFont", "Noto Sans KR", sans-serif;
}

html {
  padding: 45px;
}

h2 {
  border-top: 1px solid #dff5ff;
  padding-top: 15px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

select {
  min-height: 65px;
  padding: 15px 25px;
  font-size: 1.1rem;
  border: 2px solid #5356ff;
  border-radius: 5px;
}

button,
input[type="submit"] {
  min-height: 65px;
  padding: 15px 25px;
  font-size: 1.1rem;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 5px;
}

.btn-primary,
input[type="submit"] {
  background: #5356ff;
  color: #fff;
  border-color: #5356ff;
}

.btn-mini {
  min-height: auto;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}

select:focus,
button:focus,
input:focus {
  outline: none;
  border-color: #378ce7;
  border-radius: 5px;
}

.btn-mini:focus {
  border-radius: 20px;
}

h1,
h2,
select,
button,
input[type="submit"] {
  margin: 15px 15px 0 0;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 15px 0 10px 0;
}

.form-row label {
  width: 100px;
  min-width: 100px;
  font-size: 1.1rem;
}

input[type="text"] {
  margin-left: 15px;
  min-width: 800px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 1px solid gray;
  border-radius: 11px;
}
.required {
  font-weight: bold;
}
.required::after {
  content: "*";
  color: red;
}
