<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로틴플러스(ProteinPlus)</title>
    <link rel="stylesheet" href="../../static/css/frame.css">
    <link rel="stylesheet" href="../../static/css/order/order.css">
<!--    <link rel="stylesheet" href="/css/frame.css">-->
<!--    <link rel="stylesheet" href="/css/order/order.css">-->
</head>

<body>
<div class="wrap main">

    <!-- ========== 공통 헤더 :: header ========== -->
    <header id="header" class="header">
        <div class="header-inner">
            <h1 class="logo "><a href="/"><span class="blind">ProteinPlus</span></a></h1>

            <div class="util">
                <ul>
                    <li><a href="/auth/login">로그인</a></li>
                    <li><a href="/member/join/general">회원가입</a></li>
                    <li><a href="/mypage/orderlist">주문조회</a></li>
                    <li><a href="/service/center">고객센터</a></li>
                </ul>
            </div><!--// util -->

            <div class="header-search">
                <div class="top-search">
                    <input type="search" class="input-search" value="" maxlength="100">

                    <button type="button" class="btn-top-search" id="btnTopSearch" name="btnTopSearch"
                            data-search-type="real" onclick="fnBtnTopSearch(this);">
                        <span class="blind">검색</span>
                    </button>
                </div>
            </div>

            <div class="my-menu">
                <ul>
                    <li><a href="" class="btn-util-pedometer" title=""><span class="blind">만보기</span></a></li>
                    <li><a href="" class="btn-util-coupon" title=""><span class="blind">쿠폰</span></a></li>
                    <li><a href="" class="btn-util-mypage" title=""><span class="blind">마이페이지</span></a>
                    </li>
                    <li>
                        <a href="" class="btn-util-cart" title="">
                            <span class="blind">장바구니</span>
                            <em class="count">0</em>
                        </a>
                    </li>
                </ul>
            </div><!--// my-menu -->
        </div>
        <!--// header-inner -->

        <div class="gnb-wrap">
            <div class="inner">
                <div class="category-wrap">
                    <a href="#all-category" class="btn-menu-all"><span>카테고리</span></a>
                </div>
                <nav id="gnb" class="gnb">
                    <ul>
                        <li class="">
                            <a href="">
                                <span>랭킹</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>이달의 특가</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>브랜드관</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>1팩 담기</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>혜택정리</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>이벤트</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <span>..</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!--//  gnb-wrap -->
    </header>
    <!--// ========== 공통 헤더 :: header ========== -->


    <!-- ========== 컨텐츠 영역 :: container ========== -->
    <section id="contents" class="container">
        <div class="content-wrap frame-sm">
            <div class="page-title-area">
                <h2 class="title-page">주문/결제</h2>
            </div>
            <div class="order-payment-area">
                <form id="ordFrm" name="ordFrm" action="/order/order" method="post" data-gtm-form-interact-id="0">
                    <div class="order-info">
                        <div class="list-head-sub">
                            <h3 class="title-list">배송지 정보</h3>
                            <a href="javascript:void(0);" class="btn-basic-sm2 btn-default" onclick="openUserDeliveryListPop();" style="border-radius: 4px;">
                                <span>배송지변경</span>
                                <i class="ico-arr-right"></i>
                            </a>
                        </div>
                        <div class="lineless-table type1">
                            <div id="addressInfoDiv">
                                <h3>이름<em class="badge-point2" style="margin-left:6px;display: inline-block">기본배송지</em></h3>
                                <p style="margin-top:11px;margin-bottom:20px;"><strong class="addr-name"></strong> 주소</p>
                                <ul class="order-order-info">
                                    <li>
                                        <span>010-000-0000</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="order-info">
                        <div class="order-item-box">
                            <div id="userOrderList">
                                <div class="delivery-state normal">
                                    <h4 class="tit">일반배송 1개</h4>
                                    <div class="right-dlv-info">
                                        <i class="ico-bl-box2"></i>
                                        <p class="txt">
                                            <span id="dlvPrice">무료배송</span>
                                        </p>
                                    </div>
                                </div>
                                <ul class="cart-list" data-dlv-cd="D00063100" data-delivery-state="normal" data-n-dlv-price="0">
                                    <li>
                                        <div class="prd-info-area ">
                                            <input type="hidden" class="vProductCd" value="F000010060">
                                            <div class="inner">
                                                <div class="column img">
                                                    <a href="javascript:void(0);">
                                                        <img src="https://file.rankingdak.com/image/RANK/PRODUCT/PRD001/20240325/IMG1711Aya334807868_100_100.jpg" alt="상품이미지">
                                                    </a>
                                                </div>
                                                <div class="column tit">
                                                    <p class="tit"><a href="#">상품이름</a></p>
                                                    <p class="desc">상품옵션</p>
                                                    <ul class="price-item">
                                                        <li><span class="num">가격</span>원</li>
                                                        <li><span class="num">개수</span>개</li>
                                                    </ul>
                                                </div>
                                                <div class="column price w70">
                                                    <span class="num">가격</span>원
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="dlv-request-box" id="norReqBox" style="display: block">
                            <div class="inner-div">
                                <div class="request-tit"><h5>배송 요청사항</h5></div>
                                <div class="request-detail">
                                    <div class="ui-select select-box w-full" data-value="" id="div_normal_comment">
                                        <a href="#none" title="" class="select-value" onclick="return false;">
                                            <span>메세지를 선택해 주세요</span>
                                        </a>
                                        <div class="select-list">
                                            <ul>
                                                <li data-name="01" class="ui-direct-select"><a href="#direct-item-nor" onclick="return false;"><span>직접입력</span></a></li>
                                                <li data-name="02" class=""><a href="#none" onclick="return false;" class="selected"><span>배송전, 연락 부탁드립니다.</span></a></li>
                                                <li data-name="03" class=""><a href="#none" onclick="return false;"><span>부재시, 전화 또는 문자 주세요.</span></a></li>
                                                <li data-name="04" class=""><a href="#none" onclick="return false;"><span>부재시, 경비(관리)실에 맡겨주세요.</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="direct-item-nor" class="ui-direct-input hide">
                                        <input type="text" class="input-text w-full deliveryComment removeEmoji" name="dlv_memo" placeholder="배송 요청 사항을 입력하세요">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-fix-area fixed">
                        <div class="payment-info-box ui-box-fix">
                            <h3 class="tit">주문결제 금액</h3>
                            <div class="order-price">
                                <ul class="div-price">
                                    <li>
                                        <div class="list-inner">
                                            <span class="tit">상품금액</span>
                                            <p class="price"><strong class="num resetOrderPaySide" id="txt_tot_price">가격</strong> 원
                                                <span class="text-guide-sm" id="txt_add_cold_price" style="display:none">(보냉제 추가 <span id="totalIcePackPrice">0</span>원 포함)</span>
                                            </p>
                                            <input type="hidden" name="tot_price" class="resetOrderPaySide" value="가격">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-inner">
                                            <span class="tit">배송비</span>
                                            <p class="price">
                                                <strong class="num resetOrderPaySide" id="txt_tot_dlv_price">0</strong> 원
                                            </p>
                                            <input type="hidden" name="tot_dlv_price" class="resetOrderPaySide" value="0">
                                        </div>
                                        <p class="text-guide-sm" id="txt_island" style="display: none">(도서산간 배송비 포함)</p>
                                    </li>
                                </ul>
                                <div class="total-price" style="padding:20px 0;">
                                    <div class="list-inner">
                                        <span class="tit">최종 결제금액</span>
                                        <div class="price">
                                            <strong class="num text-primary resetOrderPaySide" id="txt_tot_pg_price">가격</strong> 원
                                            <input type="hidden" name="tot_pg_price" class="resetOrderPaySide" value="가격">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="point-container-box">
                                <ul class="list-sub-inner">
                                    <li><span class="tit">적립예정 포인트</span><span class="txt"><span id="totalSavePointTot">0</span>P</span></li>
                                </ul>
                            </div>
                            <ul class="terms-view">
                                <li>
                                    <a href="#popup-terms-type-04" class="ui-open-pop" onclick="return false;">
                                        <span class="txt">처리위탁 및 3자 제공 동의</span>
                                        <span class="view">내용보기<i class="ico-arrfill-right"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#popup-terms-type-02" class="ui-open-pop" onclick="return false;">
                                        <span class="txt">결제대행서비스 이용 동의</span>
                                        <span class="view">내용보기<i class="ico-arrfill-right"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#popup-terms-type-14" class="ui-open-pop" onclick="return false;">
                                        <span class="txt">개인정보 수집 및 이용 동의</span>
                                        <span class="view">내용보기<i class="ico-arrfill-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="check-area">
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="checkTerms" class="checkbox" name="check_terms" data-nonmember-yn="N">
                                    <label for="checkTerms">상기 필수약관을 확인하였으며<br>결제에 동의합니다.</label>
                                </div>
                                <div class="final-info-box">
                                    <div class="inner">
                                        <ul class="list">
                                            <li id="payType" class="final-info-box-reset"></li>
                                            <li id="divCardInst" class="final-info-box-reset"></li>
                                            <li><span id="totPgPrice" class="final-info-box-reset">35,900</span>원</li>
                                        </ul>
                                        <p class="address final-info-box-reset" id="address"></p>
                                        <a class="link-txt" id="dlvLocationSaveBtn" href="javascript:void(0);" onclick="openUserDeliveryListPop();"><span>배송지변경</span><i class="ico-arr-right"></i></a>
                                    </div>
                                    <button class="btn-x-sm3" type="button"><i class="ico-x-white"></i><span class="blind">닫기</span></button>
                                </div>
                            </div>
                            <button type="button" class="btn-basic-xlg btn-primary" onclick="fnCheckOrder()">
                                <span class="num"><span id="txt_btn_payment" class="resetOrderPaySide">가격</span>원 결제하기</span>
                            </button>
                        </div>
                    </div>
                    <div class="order-info" style="border-top:1px solid #333;padding-top:30px;">
                        <div class="lineless-table type1">
                            <h3 class="title-list">포인트</h3>
                            <table>
                                <caption>포인트 사용</caption>
                                <colgroup>
                                    <col style="width:190px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><span class="tit">포인트 사용</span></th>
                                    <td>
                                        <div class="order-point">
                                            <div class="input-group-wrap box-type">
                                                <div class="input-group">
                                                    <input type="hidden" id="currentPoint" name="currentPoint" value="1582">
                                                    <input type="hidden" id="usePoint" name="usePoint" value="0">
                                                    <input type="text" title="" class="input-text ui-point-input" id="textUsePoint" name="textUsePoint" placeholder="2,000P부터 사용가능" onkeydown="return numberOnly(event)" onkeyup="removeChar(event)" onblur="fnUsePoint()">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn-ex-grey" onclick="fnUsePoint('all')"><span>전액사용</span></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <p class="point-guide">사용 가능 포인트 <em class="text-num-bold">포인트값</em>P</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="order-info">
                        <div class="list-head">
                            <h3 class="title-list">결제방법</h3>
                        </div><!--// list-head -->

                        <div class="payment-select">
                            <div class="grid-area">
                                <div class="colum col12">
                                    <ul class="radio-grid-span4">
                                        <li>
                                            <div class="custom-radio">
                                                <input type="radio" id="radio-grid-1" class="radio-box-grid" name="payType" value="CARD" data-card-type="GE" checked="">
                                                <label for="radio-grid-1"><em class="txt"><i class="ico-pay-creditcard"></i>신용카드</em></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-radio">
                                                <input type="radio" id="radio-grid-2" class="radio-box-grid" name="payType" value="VBANK">
                                                <label for="radio-grid-2"><em class="txt"><i class="ico-pay-vbank"></i>무통장입금</em></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-radio">
                                                <input type="radio" id="radio-grid-3" class="radio-box-grid" name="payType" value="BANK">
                                                <label for="radio-grid-3"><em class="txt"><i class="ico-pay-bank"></i>실시간계좌이체</em></label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-radio">
                                                <input type="radio" id="radio-grid-4" class="radio-box-grid" name="payType" value="MOBILE">
                                                <label for="radio-grid-4"><em class="txt"><i class="ico-pay-mobile"></i>휴대폰결제</em></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--// payment-select -->
                    </div>

                </form>
            </div>
        </div>
    </section>

    <!--// ========== 컨텐츠 영역 :: container ========== -->


    <!-- ========== 공통 푸터 :: footer :: include.footer() 영역  ========== -->
    <footer id="footer" class="footer">
        <div class="footer-menu">
            <div class="frame-sm">
                <ul class="footer-menu-list">
                    <li><a>회사소개</a></li>
                    <li><a>공지사항</a></li>
                    <li><a>입점 · 제휴 · 광고문의</a></li>
                    <li><a>이용약관</a></li>
                    <li><a class="text-black2 text-md">개인정보처리방침</a></li>
                </ul><!--// footer-menu-list -->
            </div><!--// footer-info-list -->
        </div><!--// frame-sm -->
        <div class="footer-info">
            <strong class="footer-logo"><span class="blind">ProteinPlus</span></strong>
            <div class="colum-info">
                <h5 class="blind">회사 정보</h5>
                <ul class="footer-biz-info">
                    <li><span class="company-name">(주)푸드나무</span></li>
                    <li>대표 : 김영문</li>
                    <li>주소 : 서울특별시 마포구 월드컵북로 396, 15층(상암동, 누리꿈스퀘어 비지니스타워)</li>
                    <li>사업자등록번호 : 105-87-81968
                        사업자정보 확인
                    </li>
                    <li>통신판매업신고번호 : 제2015-서울마포-1058호</li>
                    <li>개인정보보호책임자 : 이재길</li>
                </ul>
                <p class="copyright">Copyright©ProteinPlus All rights reserved.</p>
            </div><!--// colum -->
            <div class="colum-info">
                <ul class="customer-info">
                    <li class="cscenter">고객센터 <em class="footer-tel">02-6405-8088</em></li>
                    <li>FAX. 02-6351-8088</li>
                    <li>E-mail. admin@foodnamoo.com</li>
                </ul>
                <div class="customer-btns">
                    <a href="#"><span>고객의 제안</span></a>
                    <a href="#"><span>1:1 문의</span></a>
                </div>
                <ul class="footer-sns-list">
                    <li><a target="_blank"><i class="ico-sns-facebook"></i><span class="sns_blind">페이스북</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-instagram"></i><span class="sns_blind">인스타그램</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-blog"></i><span class="sns_blind">네이버블로그</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-post"></i><span class="sns_blind">네이버포스트</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-kakaotalk"></i><span class="sns_blind">카카오톡</span></a>
                    </li>
                    <li><a target="_blank"><i class="ico-sns-youtube"></i><span class="sns_blind">유튜브</span></a>
                    </li>
                </ul>
            </div><!--// colum -->
        </div><!--// footer-info -->
    </footer>
</div>
</body>

</html>