.image-slide-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  display: flex;
}

.slide {
  display: none;
}

.slide-active {
  display: block;
}

.image-slide-container img {
  width: 100%;
  height: auto;
}

.slide-number {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
